@import "../variables";
@import "../grid";

.home-root {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.home-content {
    flex-grow: 1;
    width: 100%;
    @extend .container;

    > div {
        padding: 2rem;
    }
}

.header-outer > div, .footer-lower > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    @extend .container;
}

.header-outer {
    font-size: 2rem;
}

.header-outer, .footer-upper {
    background-color: $primary;
    padding: 1rem;
    color: white;

    a {
        padding: 0 0.3rem;
        color: white;
    }

    a:hover {
        border-bottom-color: white;
    }
}

.footer-upper > div {
    @extend .container;
    @extend .row;
}

.footer-lower {
    color: white;
    background-color: darken($primary, 20%);
    padding: 0.4rem;
}

.panel-outer {
    padding: 0.5rem;

    .panel {
        background-color: $bg-color;
        box-shadow: 0rem 0rem 0.2rem 0.1rem darken($bg-color, 40%);
        border-radius: 1.5rem;
    
        .panel-title {
            padding: 0.4rem 1rem;
            background-color: lighten($primary, 15%);
            border-top-left-radius: 1.5rem;
            border-top-right-radius: 1.5rem;
            color: white;
            font-size: 1.8rem;
        }

        .panel-content {
            padding: 0.4rem 1rem;
        }
    }
}