$colors: (
    white: #FFFFFF,
    grey: #495057,
    red: #f03e3e,
    pink: #d6336c,
    grape: #ae3ec9,
    violet: #7048e8,
    indigo: #4263eb,
    blue: #1c7ed6,
    cyan: #1098ad,
    teal: #0ca678,
    green: #37b24d,
    lime: #74b816,
    yellow: #f59f00,
    orange: #f76707
);

// Colors
$primary: map-get($colors, cyan);
$secondary: #49075E;
$text-color: #000;
$bg-color: #fff;

// Layout Sizes
$layout-small: 480px;
$layout-medium: 768px;
$layout-large: 992px;
$layout-xlarge: 1200px;

// Grid
$grid-columns: 12;
$grid-max-width: $layout-xlarge;

html, body {
    background-color: $bg-color;
    margin: 0em;
    border: 0em;
    font-family: Arial, Helvetica, sans-serif;
}

html, body, #root, #root > div, .home-root {
    min-height: 100vh;
}